* {
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
}

.row {
	height: 100vh;
	margin: 0;
}

/*the container of the users's list*/
#users-list,#rooms {
	height: 100%;
	color: #000;
	padding: 0;
	background-color: #F0F0F0;
	/*border: 1px solid red;*/
}

.search {
	width: 100%;
	padding: 10px; 
	border-radius: none;
	border: none;
	height: 60px;
	color: #000;
	text-align: center;
	font-family: FontAwesome;
	/*background-color: #1d89cf;*/
	border-bottom: 1px solid silver;
}

/*the list of users*/
#users-list ul, #rooms ul {
	height: 100%;
	list-style-type: none;
	overflow-y: auto;
	border-right: 1px solid silver;
}

#users-list ul li, #rooms ul li {
	padding: 10px;
	color: black;
	font-family: Arial;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#users-list ul li:nth-child(odd) {
	font-style: italic;
	color: grey;
	background-color: #fff;
}

#users-list ul li:nth-child(odd) i {
	color: #FF4C4C;
}

#users-list ul li:nth-child(even) i {
	color: #6B8E23;
}

/*Chat*/
#chat {
	padding-left:10px;
	padding-right:10px;
	height: 100%;
}

/*Rooms*/

#rooms ul {
	border-left: 1px solid silver;
	border-right: none;
}

#rooms ul li:nth-child(odd) {
	background-color: #fff;
}

#rooms ul li i {
	color: #1d89cf;
}


/*Chat*/

/*#chat {
	border: 1px solid blue;
}*/

/*Chat head design*/
#chat-head {
	width: 100%;
	height: 60px;
	padding-top: 10px;
	text-align: center;
	/*border: 1px solid red;*/
	background-color: #1d89cf;
}
/*Username design*/
#username {
	float: left;
	/*text-align: center;*/
	/*border-radius: 5px;*/
	font-family: ComicSans;
	margin-left: 15px;
	font-size: 20px;
	margin-top: 5px;
	color: #fff;
}
/*Button design*/

#button-profile {
	height: 40px;
	/*border-radius: 5px;*/
	float: right;
	padding: 10px;
	background-color: #fff;
	color: #1d89cf;
	border: 1px solid #fff;
}

#button-logout {
	height: 40px;
	float: right;
	padding: 10px;
	border: 1px solid #fff;
	color: #fff;
	margin-left: 15px;
	margin-right: 15px;
}

i{
	margin-right: 8px;	
}

/*Button on hover*/
#button-profile:hover {
	background-color: #1d89cf;
	border: 1px solid #fff; 
	color: #fff;
	cursor: pointer;
}

#button-logout:hover {
	border: 1px solid #fff;
	background-color: #fff;
	color: #1d89cf;
	cursor: pointer;
}

/*Chat body design*/
#chat-body{
	width: 100%;
	height: 90%;
	/*border: 3px solid #1d89cf*/
	background-color: #F0F0F0;
}

#chat-messages{
	/*padding:10px 30px 0px 30px; */
	height: 90%;
	/*border:5px solid black;*/
	overflow-y: auto;
}

#chat-messages ul{
	list-style-type: none;
	/*border: 1px solid blue;*/
	width: 100%;
	padding: 10px 30px 0px 30px; 
}

#chat-messages ul li {
	/*border: 1px solid green;*/
	width: 100%;
}

#chat-messages ul li img{
	width: 40px;
	border-radius: 5px;
}

#chat-messages ul li p{
	background-color: #fff;
	border-radius: 5px;
	margin-top: 5px;
	margin-left: 50px;
	margin-right: 5px;
	padding: 10px;
	word-wrap: break-word;
	/*width: 90%;*/
	color: #4c4c4c; 
	/*height: auto;*/
}

#send-area{
	/*width: 100%;*/
	height: 10%;
}

#send-area textarea {
	border: 1px solid #1d89cf;
	border-right: none;
	resize: none;
	height: 100%;
}

#send-button{
	height: 100%;
	text-align: center;
	padding-top: 10px;
	border:1px solid #1d89cf;
	border-left:none;
	background-color: #fff;
	color: #1d89cf;
}

#send-button i{
	/*border: 1px solid green;*/
	font-size: 30px;
}

#send-button:hover{
	background-color: #1d89cf;
	color: #fff;
	cursor: pointer;
}





